* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Kodchasan', sans-serif;
  font-size: 100%;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  background: transparent;
  /* list-style: none; */
}

#tabs-and-auto {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Clock */

h1 {
  font-size: 35px;
  width: 54%;
  margin: auto;
  margin-bottom: 10px;
}

.clock {
  border: 2px dashed black;
  border-radius: 5px;
  height: 120px;
  width: 580px;
  background-color: orange;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
  font-size: 35px;
  margin: auto;
  color: white;
  margin-bottom: 20px;
}

.clock p {
  display: flex;
  justify-content: space-between;
}

/* Tabs */

#tabs-and-auto h1 {
  width: 300px;
}

.tabs-container {
  width: 200px;
  height: 240px;
  background-color: lightblue;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
}

.tabs-titles {
  height: 30px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs-titles li:hover {
  background-color: black;
  color: white;
}

.tabs-titles li {
  display: inline-block;
  border: 2px dashed black;
  cursor: pointer;
}


.tabs-content {
  padding: 10px;
  height: 210px;
  border-width: 0px 2px 2px 2px;
  border-style: dashed;
  border-color: black;
}

/* Auto Complete */

.auto-container {
  width: 250px;
  height: 240px;
  background-color: lightpink;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px dashed black;
}

.auto-container input {
  background-color: white;
  color: black;
  border: 1px solid grey;
}

.auto-container ul {
  cursor: pointer;
  display: block;
  list-style-type: square
}

.auto-container li {
  display: list-item;
}

/* Weather */

.weather {
  border: 2px dashed black;
  border-radius: 5px;
  height: 120px;
  width: 580px;
  background-color: greenyellow;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
  font-size: 35px;
  margin: auto;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

/* transition */

 .auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(400%);
   transition: opacity 600ms, transform 500ms;
 }